<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" (click)="pageChange('Home')">
        <a
          class="nav-link"
          [routerLink]="['/index']"
          routerLinkActive="router-link-active"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <!-- <li class="nav-item" (click)="pageChange('About')"> -->
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/about']"
          routerLinkActive="router-link-active"
          >About</a
        >
      </li>

      <li class="nav-item" (click)="pageChange('content')">
        <a class="nav-link" id="navbarDropdown" role="button">
          Content
        </a>
      </li>

      <li class="nav-item" (click)="pageChange('Contact')">
        <a class="nav-link " tabindex="-1">Contact</a>
      </li>

      <li class="nav-item" (click)="pageChange('orders')">
        <a class="nav-link " tabindex="-1">Orders</a>
      </li>

      <li class="nav-item" (click)="pageChange('products')">
        <a class="nav-link " tabindex="-1">Products</a>
      </li>

      <li class="nav-item" (click)="pageChange('products/today/sunday')">
        <a class="nav-link " tabindex="-1">Today</a>
      </li>

      <select (change)="onChange($event)">
        <option *ngFor="let i of devices">{{ i }}</option>
      </select>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        [(ngModel)]="searchTerm"
        [ngModelOptions]="{ standalone: true }"
        [placeholder]="placeholder"
        aria-label="Search"
      />

      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="button"
        (click)="alert()"
      >
        Search
      </button>
    </form>
  </div>
</nav>
