<app-header
  [searchTerm]="'Ram'"
  (emitSearch)="getValue($event)"
  (pageName)="page($event)"
  (dropdownVal)="dropdownValue = $event"
></app-header>
<!-- {{ dropdownValue }}
<app-home *ngIf="pageName == 'Home'"></app-home>
<app-about *ngIf="pageName == 'About'"></app-about>
<app-content [header]="title" *ngIf="pageName == 'Content'"></app-content>
<app-contact *ngIf="pageName == 'Contact'"></app-contact> -->
<div class="content">
  <div class="col-md-3">
    <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>
